@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
}

:root{
    --cor01:blue;
    --cor02:gray;
}

body{
    font: normal normal 16px Arial, serif;
    background-image:linear-gradient(to right, var(--cor01), var(--cor02));
}

p{
    text-indent:20px;
    line-height:2em;
}

h2{
    padding:0px 0px 13px 16px;
}

header{
    background: var(--cor02) url('') no-repeat center center fixed;
    background-size:cover;
    text-align:center;
    text-indent:0px;
    padding:35px;
}

header > p{
    line-height: 50px;
}

main{
    background-color:white;
    max-width:1100px;
    margin:auto;
    padding:15px;
}

main > p{
    text-align:justify;
}

section.responsividadedovideo > iframe{
    position:absolute;
    top:7%;
    left:13%;
    width:73%;
    height:80%;
}

.responsividadedovideo{
    position:relative;
    padding:5px 5px 0px 5px;
    padding-bottom:50%;
}

footer{
    background-color:black;
    color:white;
    padding:5px;
}

footer > p#rodape{
    text-indent:0px;
    text-align:left;
    font-size:10px;
    text-align:center;
}

