@charset "UTF-8";

@font-face{
    font-family:'mono';
    font-weight:normal;
    font-style:normal;
    src: url('fontes/mono.ttf') format('truetype');
}

@font-face{
    font-family:'rale';
    font-weight:normal;
    font-style:normal;
    src: url('fontes/rale2.ttf') format('truetype');
}


*{
    margin:0px;
    padding:0px;
}

:root{
    --cor01:rgb(228, 227, 229);
    --cor02:rgb(133, 114, 164);
    --cor03:rgb(29, 6, 67);
    --cor04:rgba(89, 38, 177, 0.732);
    --font-cabeça:'mono', Arial, serif;
    --font-text: 'rale', Arial, serif;
}

body{
    font: normal normal 16px var(--font-text);
    background-color:var(--cor04)
}

p{
    text-indent:20px;
    line-height:2em;
}

h1, h2{
    font-family: var(--font-cabeça);
}

h1{
    font-size:35px;
    padding-bottom:10px;
}

h2{
    padding:16px 0px 15px 16px;
    font-size:30px;
    background-image:linear-gradient(to right, var(--cor02) 5%, var(--cor01), transparent 55%);
    margin-left:-15px;
    margin-bottom:13px;
}

header{
    background-color:var(--cor03);
    text-align:center;
    text-indent:0px;
    padding:40px;
    color:white;
    padding-bottom:60px;
}

header > p{
    line-height: 25px;
    font-family: var(--font-cabeça);
}

main{
    background-color:white;
    max-width:1100px;
    margin:auto;
    padding:15px;
    border-radius:0px 10px 10px 0px;
}

main > p{
    text-align:justify;
}

section.responsividadedovideo > iframe{
    position:absolute;
    top:7%;
    left:13%;
    width:73%;
    height:80%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.145);
}

.responsividadedovideo{
    position:relative;
    padding:5px 5px 0px 5px;
    padding-bottom:50%;
}

footer{
    background-color:var(--cor03);
    color:white;
    padding:5px;
}

footer > p#rodape{
    text-indent:0px;
    text-align:left;
    font-size:50%;
    text-align:center;
    width:100%;
}

